# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Project (2).iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\baruc\OneDrive\שולחן העבודה\Backgammon3D-master\Project (2)\.idea\.idea.Project (2)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
